registry=http://192.168.4.108:8081/repository/npm-public/
@next-formily:registry=http://192.168.4.108:8081/repository/sc_formily/
//192.168.4.108:8081/repository/sc_formily/:always-auth=true
//192.168.4.108:8081/repository/npm-public/:always-auth=true
